---
interface Props {
  class?: string;
  hover?: boolean;
}

const { class: className = '', hover = true } = Astro.props;
---

<div class:list={[
  'neo-card',
  { 'hover:-translate-x-1 hover:-translate-y-1 hover:shadow-neo-hover': hover },
  className
]}>
  <slot />
</div>
